<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/style/contact.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav class="menu">
        <a href="/">
            <h1>Groupie Tracker</h1>
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <section class="mainSection">
        <div class="container">
            <div>
                <a href="https://profile.zone01oujda.ma/profile/aoutrgua"><img src="/static/images/profil.png" alt="Zone01 Profile"></a>
                <a href="https://github.com/AyoubOutrgua"><img src="/static/images/github.png" alt="Github Profile"></a>
                <a href="https://www.linkedin.com/in/ayouboutrgua/"><img src="/static/images/linkedin.png" alt="Linkedin Profile"></a>
                <h1>Ayoub Outrgua</h1>
            </div>
            <div>
                <a href="https://profile.zone01oujda.ma/profile/melghama"><img src="/static/images/profil.png" alt="Zone01 Profile"></a>
                <a href="https://github.com/elghamari"><img src="/static/images/github.png" alt="Github Profile"></a>
                <a href="https://www.linkedin.com/in/"><img src="/static/images/linkedin.png" alt="Linkedin Profile"></a>
                <h1>Mohamed El Ghamari</h1>
            </div>
        </div>
    </section>
</body>

</html>