<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error!</title>
    <link rel="stylesheet" href="/static/style/error.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section class="errorSection">
        <img src="/static/images/error.gif" alt="Error Image">
        <h2 class="statusCode">{{.statusCode}}</h2>
        <h6 class="errorText">{{.errorText}}</h6>
        <a href="/" class="btnBack">Go to Homepage</a>
    </section>
</body>
</html>